

 body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(22, 23, 22, 0.829);
    align-items: center;
    justify-content: center;
    /*display: flex; */
    /* ouverflowraid */
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #bd2222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(237, 228, 228, 0.945);
}
.calculator input {
    grid-column: span 4;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #da1010;
    border-radius: 5px;
}
.calculator button {
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #eadcdc;
    border-radius: 5px;
    cursor: pointer;
}
.calculator button:active {
    background-color: #160707;
}
.calculator button.equal {
    grid-column: span 4;
    background-color: #9d2828;
    color: rgb(17, 10, 10);
}

@media (max-width: 600px) {
    .calculator {
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;
        margin: 20px;
        padding: 10px;
    }
    .calculator input {
        font-size: 1.2em;
        padding: 8px;
    }
    .calculator button {
        padding: 15px;
        font-size: 1em;
    }
}