h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color: rgb(212, 142, 195);
    color: rgb(10, 5, 5);
}

.bolo{
    display: flex;
    justify-content: center;
    margin: 0%;

}


.brigadeiro{
    display: flex;
    justify-content: center;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1{
    max-width: 1400px;
    padding: 3px;
    margin: 0;
}
header{
    background-color:  rgb(212, 142, 195)
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    height: 40px;
    color: white;
}
nav .logo{
    font-size: 30px;
    font-style: italic;
    color: white;
    font-weight: bold;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #0e160e;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: white;
}

.doceria{
    display: flex;
    justify-content: center;
} 
body {
    font-family: sans-serif;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #080606;
  }
  button {
    background-color: #c882d1;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }